<nav class="nav">
    <a href="#coffee" class="nav__link">
        <i class="fa fa-coffee nav__icon"></i>
        <span class="nav__text">Coffee</span>
    </a>
    <a href="#milk" class="nav__link">
        <i class="fa fa-coffee nav__icon"></i>
        <span class="nav__text">Coffee-Milk</span>
    </a>
    <a href="#nonCoffee" class="nav__link">
        <i class="fa fa-coffee nav__icon"></i>
        <span class="nav__text">Non-Coffee</span>
    </a>
    <a href="#keranjang" class="nav__link">
        <i class="fa fa-shopping-cart nav__icon"></i>
        <span class="nav__text">Keranjang</span>
    </a>
</nav>