<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style ></style>
</head>
<body>
     <h1>Ini Adalah Halaman Utama</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequatur eveniet at vitae cum animi placeat, praesentium quibusdam mollitia laboriosam sapiente fugit esse facilis porro quo asperiores, nemo amet fuga ab minus id blanditiis beatae, a officiis! Consequuntur facilis, suscipit rem debitis harum perferendis asperiores, quo necessitatibus enim eveniet quam illum! Officia, cum repudiandae est sit fugiat veritatis provident porro quod recusandae quae optio tempore quo at sapiente nulla ducimus architecto qui, ab vitae pariatur deserunt. Praesentium, dolorem. Natus, exercitationem?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam a deserunt ipsam maiores repudiandae harum voluptatibus libero cumque aliquid! Molestias voluptatem voluptatum et numquam quos, itaque harum officiis atque dolor nisi minus quisquam, iure quod minima asperiores esse in voluptates veritatis culpa! Ullam corporis dolorem ipsum inventore eius temporibus delectus quis quae perferendis ad, qui exercitationem voluptates dolores blanditiis fuga mollitia praesentium, corrupti ipsa at sed, veniam harum. Minima beatae totam nihil quis dignissimos error, incidunt molestiae eligendi, quas temporibus voluptates provident nostrum voluptate blanditiis iusto, eum itaque molestias laborum dolor atque quibusdam amet architecto! Dolore deserunt a laudantium accusantium officia voluptate facilis, voluptates voluptatibus minus maxime rem reprehenderit odit sapiente quidem mollitia voluptatem ex hic iure delectus sit beatae molestiae libero sed optio. Excepturi ratione sint quidem voluptatibus nesciunt dolores illum vitae maxime rerum repellat alias tempora laboriosam, nihil deleniti reprehenderit, nam eius odio sapiente nisi laborum quos hic?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iure quaerat nesciunt architecto suscipit, modi tempore iusto, asperiores odio adipisci impedit? Fugit iusto dicta facilis ea optio debitis vitae, magni, aspernatur laborum omnis facere! Culpa veritatis est impedit enim aliquam, omnis at reiciendis nesciunt assumenda laborum dolores adipisci nisi mollitia corrupti velit ex commodi recusandae. Itaque iure dolores exercitationem sapiente libero, earum, labore adipisci ipsum ratione sequi ad rerum ea laborum dolor ab deleniti quisquam! Id assumenda optio tenetur praesentium? Nesciunt vitae a id praesentium odit ipsam quos magni tenetur quidem pariatur reiciendis tempore beatae ut iste, consequuntur, ea dolorem.</p>
</body>
</html>