<div class="container">
    <div class="row coffee" id="coffee">
        <div class="col col-xl">
            <p style="text-decoration: underline;">Coffee</p>
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
            
            
    </div>
    <div class="row milk " id="milk">
        <div class="col col-xl">
            <p style="text-decoration: underline; color: black;">Coffee Milk</p>
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
            
    </div>
    <div class="row nonCoffee" id="nonCoffee">
        <div class="col col-xl">
            <p style="text-decoration: underline;">Non-Coffee</p>
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
        <div class="col-xl-3 d-flex justify-content-center mb-3">
            <div class="card ju" style="width: 200px;">
                <img src="images/espresso.png" class="card-img-top width=80%" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espresso</h5>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>      
        </div>
    </div>
        <div class="row keranjang" id="keranjang">
            <p style="color: black;">Keranjang</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">1</div>
                        <div class="col menu">Espresoo</div>
                        <div class="col harga">10.000</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">1</div>
                        <div class="col menu">Espresoo</div>
                        <div class="col harga">10.000</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col total">Total:</div>
                        <div class="col harga">20.000</div>
                    </div>
                </li>

            </ul>

            <form class="formCheckout">
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="inputNama">
                  <label for="noHp" class="form-label">No. Hp</label>
                  <input type="text" class="form-control" id="inputNama">
                  <label for="noMeja" class="form-label">No. Meja</label>
                  <input type="text" class="form-control" id="inputNama">
                </div>
            </form>

            <a href="#" type="submit" class="btn" id="btnCheckout">CheckOut</a>
        
    </div>