<div class="container">
    <div class="container makanan">
        <div class="row">
            <h4>Menu Makanan</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Americano</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    </div>

    <div class="container minuman">
        <div class="row">
            <h4>Menu Minuman</h4>
        </div>
            <div class="row">
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Americano</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center mb-3">
                    <div class="card ju" style="width: 80%;">
                        <img src="images/americano.png" class="card-img-top width=80%" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
              </div>
    </div>
    
    
    
      
          
</div>